html{
    margin-left:auto ;
    margin-right: auto;
    width: 900px;
    border: black 1px solid;
}
h1{
    text-align: center;
}
.wrapper{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    margin-left: 197px;

}
.box{
    background-color: cornsilk;
    border: black solid 1px;
    cursor: pointer;
    font-size: 51px;
    font-weight: 700;
}
#b1 span,#b2 span,#b3 span,#b4 span,#b5 span,#b6 span,#b7 span,#b8 span,#b9 span{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #dfdada;
    position: relative;
    top: 25%;
}
